
<h3> Product Reviews</h3>
<% @product.reviews.reverse_each do |review| %>
<div class="well">
    <div> 
    User: <%= review.user_id %>
    </div> 

    <div>
    Description: <%= review.description %>
    </div>
    
    <div>
    Rating: <%= review.rating %>/5
    </div>
</div>
<% end %>